body.dark {
  background-image: url(../images/justin-bieber-photos-hd-background-wallpaper-35.jpg);
}

body.light {
	background-image: url(../images/white_unicorn-1457116.jpg);
}

#light_switch {
	height: auto;
	width: auto;
	font-size: 40px;
	padding: 30px;
}